.one {
    color: #dc143c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.two {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.description {
    color: #00ffff;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}

.three {
    color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}

#four {
    color:blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: initial;
    font-weight: bold;
}

.ingredients {
    color:coral;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;

}

#steps {
    color:cyan;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}